.landing-element {
  background-image: url("./bgimage.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}

.background-tint {
  background-color: rgba(3, 3, 3, 0.6);
  background-blend-mode: multiply;
}

.landing-element .display-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.landing-element .display-text .display-title,
.landing-element .display-text .display-caption {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: #e4e4e3;
}

.landing-element .display-text .display-title {
  font-weight: 800;
  font-style: normal;
  font-size: 300%;
}

.landing-element .display-text .display-caption {
  font-weight: 600;
  font-style: normal;
  font-size: 125%;
  margin-bottom: 1em;
}

#plumber-img {
  width: 15%;
  height: auto;
  margin-right: 5%;
}

.landing-button {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.08em;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #e4e4e3;
  background-color: #0f7fbc;
  border: none;
  padding: 10px 30px;
}

.landing-button:hover,
.landing-button:focus,
.landing-button:active,
.landing-button:active:focus {
  background-color: #0f7fbc;
}

#contact-button {
  background-color: #fe8700;
}

@media screen and (max-width: 964px) {
  #plumber-img {
    width: 20%;
    height: auto;
  }
  .landing-element .display-text .display-caption {
    font-weight: 600;
    font-style: normal;
    font-size: 150%;
  }
}

@media screen and (max-width: 830px) {
  .landing-element .display-text {
    align-items: center;
  }
  #landing-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 770px) {
  .main-content {
    flex-direction: column;
  }
  #plumber-img {
    margin-right: 0px;
    margin-left: 8%;
    width: 30%;
    height: auto;
  }
  .landing-element .display-text .display-title {
    font-weight: 800;
    font-style: normal;
    font-size: 250%;
  }
  .landing-element .display-text .display-caption {
    font-weight: 800;
    font-style: normal;
    font-size: 150%;
  }
}

@media screen and (max-width: 533px) {
  .landing-element .display-text .display-caption {
    display: none;
  }
  .landing-element .display-text .display-title {
    margin-bottom: 1em;
  }
  #plumber-img {
    margin-bottom: 1em;
    width: 45%;
    height: auto;
  }
}
